@import "styles/mq.css";

.posts {
  display: flex;
  flex-direction: column;
}

.post {
  width: 100%;
  flex: 0 0 100%;
  padding: 10px;
}

@media (--mq-gt-s) {
  .posts {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (--mq-m) {
  .post {
    width: 50%;
    flex: 0 0 50%;
    padding: 10px;
  }
}

@media (--mq-gt-m) {
  .post {
    width: 25%;
    flex: 0 0 25%;
    padding: 20px;
  }
}
