@import "variables.css";

.category {
  cursor: pointer;
}

.even {
  background: var(--color_gray);
}

.cottagesCategories :global(.swiper-button-prev), .cottagesCategories :global(.swiper-button-next) {
  top: 178px ;
}
