{
  "parser": "@babel/eslint-parser",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended", "prettier"],
  "settings": {
    "react": {
      "version": "18.1"
    }
  }
}
