{
  "extends": "./node_modules/phenomic/lib/stylelint-config-recommended/index.js",
  "rules": {
    "property-no-unknown": [
      true,
      {
        "ignoreProperties": [
          "composes",
          "font-smoothing"
        ]
      }
    ],
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": [
          "global"
        ]
      }
    ]
  }
}
