@import "variables.css";
@import "mq.css";

.top {
  color: #fff;
  background: var(--color_bosc_green);
  position: relative;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slogan {
  flex: 1 1 auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 300;
}

.email,
.phone,
.facebook {
  flex: 0 0 auto;
  padding: 0 10px;
  font-weight: 300;
}

.navButton {
  font-size: 20px;
  cursor: pointer;
}

.locales {
  height: 100%;
  display: flex;
}

.locale {
  width: 30px;
  padding: 10px 0;
  margin-left: 20px;
}

.flag {
  height: 100%;
}

@media (--mq-gt-m) {
  .navButton {
    display: none;
  }

  .logo {
    height: 100px;
  }
}

@media (--mq-lt-l) {
  .slogan,
  .email,
  .phone,
  .facebook {
    display: none;
  }
}
