@import "./variables.css";

@font-face {
  font-family: "Lato Light";
  src: url("lato-font/fonts/lato-light/lato-light.eot");
  src: url("lato-font/fonts/lato-light/lato-light.eot?#iefix") format("embedded-opentype"), url("lato-font/fonts/lato-light/lato-light.woff") format("woff"), url("lato-font/fonts/lato-light/lato-light.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

/**
 * Proper box-sizing
 */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Adjust fonts
 */

html {
  line-height: 1.5;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-size: 0.875rem;
  margin: 0;
}

code,
pre {
  font-family: Menlo, Monaco, Consolas, monospace;
}

h1 {
  font-size: 1.75rem;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-title);
}

/**
 * Reset links style
 */

a {
  text-decoration: none;
  color: inherit;
}

/**
 * Default theme
 */

body {
  background: #fff;
  color: #000;
  overflow-x: hidden;
  overflow-y: scroll;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
