:root {
  /* General */
  --color_bosc_green: #8bc59d;
  --color_bosc_yellow: #fdc158;
  --color_bosc_yellow-darken1: color(var(--color_bosc_yellow) l(-10));
  --color_gray: #c6c6c7;
  --color_gray-lighten1: color(var(--color_gray) l(+10));
  --color_gray-lighten2: color(var(--color_gray) l(+17));

  /* Social */
  --color_facebook: #3b5998;
  --color_twitter: #00aced;
  --color_youtube: #b00;

  /* Fonts */
  --font-title: "Lato Light";

  /* Z-index */
  --zIndex-sticky: 1;
  --zIndex-overlay: calc(var(--zIndex-sticky) + 1);
  --zIndex-dropdown: calc(var(--zIndex-overlay) + 1);
  --zIndex-logo: calc(var(--zIndex-dropdown) + 1);
  --zIndex-nav: var(--zIndex-dropdown);
  --zIndex-locale: calc(var(--zIndex-nav) + 1);
}
