@import "styles/variables.css";

.wrapper {
  position: relative;
}

.image {
  width: 100%;
  height: 400px;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
