@import "styles/variables.css";

.wrapper {
  height: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--zIndex-overlay);
}

.menu {
  position: relative;
  text-transform: uppercase;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: var(--zIndex-locale);
}

.current {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.current .flag {
  padding: 0 10px;
}

.arrow {
  color: #fff;
  display: flex;
  font-size: 20px;
}

.dropdown {
  position: absolute;
  top: 40px;
  left: 0;
  display: none;
}

.dropdown_open {
  display: block;
}

.locale {
  background: var(--color_bosc_green);
  cursor: pointer;
  display: flex;
  align-items: center;
}

.locale:hover {
  background: color(var(--color_bosc_green) l(+10%));
}

.locale .flag {
  padding: 10px;
}

.locale:hover .flag {
  filter: brightness(150%);
}
