@import "styles/variables.css";
@import "styles/mq.css";

:root {
  --nav-item-padding: 0.625rem;
}

.header {
  position: relative;
  z-index: var(--zIndex-overlay);
}

.logo {
  z-index: calc(var(--zIndex-nav) + 1);
  position: relative;
}

.photo {
  width: 100%;
  height: 200px;
  position: relative;
  z-index: -1;
}

.title {
  position: absolute;
  background: color(var(--color_bosc_yellow) a(80%));
  color: #fff;
  padding: 5px 20px;
  margin: 0 10px;
  top: 50px;
  left: 0;
  font-size: 15px;
}

@media (--mq-lt-l) {
  .navOverlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
  }
}

@media (--mq-m) {
  .photo {
    height: 300px;
  }

  .title {
    margin: 0 50px;
    top: 100px;
    left: 20px;
    font-size: 30px;
  }
}

@media (--mq-l) {
  .photo {
    height: 600px;
  }
}

@media (--mq-xl) {
  .photo {
    height: 800px;
  }
}

@media (--mq-gt-m) {
  .title {
    margin: 0 50px;
    top: 100px;
    left: 50px;
    font-size: 30px;
  }
}
