@import "styles/variables.css";

:global(.bn-range),
:global(.bn-range .DayPicker-Day) {
  outline: none;
}

:global(.bn-range .DayPicker-Body) {
  background: #fff;
}

:global(.bn-range .DayPicker-Day--today) {
  color: var(--color_bosc_green);
}

:global(.bn-range .DayPicker-Day--disabled) {
  background: #fff;
}

:global(.bn-range .DayPicker-Day:not(.DayPicker-Day--outside):not(.DayPicker-Day--selected):hover) {
  background: var(--color_bosc_green);
  color: #fff;
}

:global(.bn-range .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside)) {
  background: var(--color_bosc_green);
  color: #fff;
}

:global(.DayPicker-Day--from:not(.DayPicker-Day--outside)),
:global(.DayPicker-Day--to:not(.DayPicker-Day--outside)) {
  position: relative;
  background: var(--color_bosc_green);
  color: #fff;
}

:global(.DayPicker-Day--from:not(.DayPicker-Day--outside)::before) {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -5px;
  width: 5px;
  content: '';
  background: var(--color_bosc_yellow);
}

:global(.DayPicker-Day--to:not(.DayPicker-Day--outside)::after) {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -5px;
  width: 5px;
  content: '';
  background: var(--color_bosc_yellow);
}
