@import "variables.css";

.bn-range,
.bn-range .DayPicker-Day {
  outline: none;
}

.bn-range .DayPicker-Body {
  background: #fff;
}

.bn-range .DayPicker-Day--today {
  color: var(--color_bosc_green);
}

.bn-range .DayPicker-Day--disabled {
  background: #fff;
}

.bn-range .DayPicker-Day:not(.DayPicker-Day--outside):not(.DayPicker-Day--selected):hover {
  background: var(--color_bosc_green);
  color: #fff;
}

.bn-range .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
  background: var(--color_bosc_green);
  color: #fff;
}

.DayPicker-Day--from:not(.DayPicker-Day--outside),
.DayPicker-Day--to:not(.DayPicker-Day--outside) {
  position: relative;
  background: var(--color_bosc_green);
  color: #fff;
}

.DayPicker-Day--from:not(.DayPicker-Day--outside)::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -5px;
  width: 5px;
  content: "";
  background: var(--color_bosc_yellow);
}

.DayPicker-Day--to:not(.DayPicker-Day--outside)::after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -5px;
  width: 5px;
  content: "";
  background: var(--color_bosc_yellow);
}
