@import "variables.css";

.slider {
  position: relative;
}

.arrow {
  background: var(--color_bosc_green);
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  display: flex;
  font-size: 40px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.left {
  composes: arrow;
  left: 0;
}

.right {
  composes: arrow;
  right: 0;
}

.left_green {
  composes: left;
  background: var(--color_bosc_green);
}

.right_green {
  composes: right;
  background: var(--color_bosc_green);
}

.left_yellow {
  composes: left;
  background: var(--color_bosc_yellow);
}

.right_yellow {
  composes: right;
  background: var(--color_bosc_yellow);
}

.left_green:hover,
.right_green:hover {
  background: var(--color_bosc_green--darken);
}

.left_yellow:hover,
.right_yellow:hover {
  background: var(--color_bosc_yellow--darken);
}
