@import "variables.css";

.slider_green :global(.swiper-button-prev), .slider_green :global(.swiper-button-next) {
  background: var(--color_bosc_green);
}

.slider_green :global(.swiper-button-prev):hover, .slider_green :global(.swiper-button-next):hover {
  background: var(--color_bosc_green--darken);
}

.slider_yellow :global(.swiper-button-prev), .slider_yellow :global(.swiper-button-next) {
  background: var(--color_bosc_yellow);
}

.slider_yellow :global(.swiper-button-prev):hover, .slider_yellow :global(.swiper-button-next):hover {
  background: var(--color_bosc_yellow--darken);
}

.slider :global(.swiper-button-prev), .slider :global(.swiper-button-next) {
  color: #fff;
  width: 50px;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 0;
}

.slider :global(.swiper-button-prev):after, .slider :global(.swiper-button-next):after {
  font-family: FontAwesome;
}

.slider :global(.swiper-button-prev) {
  left: 0;
}

.slider :global(.swiper-button-prev):after {
  content: "\f104";
  font-size: 40px;
}

.slider :global(.swiper-button-next) {
  right: 0
}

.slider :global(.swiper-button-next):after {
  content: "\f105";
  font-size: 40px;
}