@import "styles/variables.css";
@import "styles/mq.css";

.content {
  display: flex;
  flex-direction: column;
  align-content: stretch;
}

.text {
  border: 1px solid var(--color_gray);
  border-bottom: 0;
}

.title {
  font-size: 24px;
  font-family: var(--font-title);
  text-transform: uppercase;
  padding: 10px;
  text-align: center;
}

.description {
  flex: 1 1 auto;
  margin: 20px;
}

.box {
  position: relative;
  background: #fff;
  padding: 20px;
  margin: 20px 30px;
  border: 1px solid var(--color_bosc_green);
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  background: var(--color_bosc_green);
  border-radius: 50%;
  color: #fff;
  transform: translate(-50%, -50%);
}

.button {
  border: 2px solid var(--color_bosc_yellow);
  background: var(--color_bosc_yellow);
  color: #fff;
  padding: 20px;
  text-align: center;
  font-family: var(--font-title);
}

.button:focus,
.button:hover {
  outline: none;
  background: var(--color_bosc_yellow--darken);
  border-color: var(--color_bosc_yellow--darken);
}

@media (--mq-gt-s) {
  .cottage {
    display: flex;
    align-items: stretch;
  }

  .cover {
    flex: 1 1 40%;
  }

  .content {
    flex: 1 1 60%;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-content: stretch;
  }

  .meta {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .box + .box {
    margin-left: 0;
  }

  .bed,
  .heart {
    composes: icon;
  }

  .bed {
    left: 0;
    transform: translate(-50%, -50%);
  }

  .heart {
    right: 0;
    left: auto;
    transform: translate(50%, -50%);
  }

  .button {
    padding: 20px;
    font-size: 20px;
  }
}
