@import "styles/variables.css";
@import "styles/mq.css";

.wrapper {
  background: var(--color_bosc_green);
}

.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: var(--font-title);
}

.infos,
.partners,
.social {
  display: flex;
  flex-direction: column;
}

.partners {
  margin: 0 -10px;
}

.block {
  flex: 1;
  padding: 10px;
}

.title {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.infos {
  background: var(--color_bosc_green);
  color: #fff;
}

.addressWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.address {
  text-align: left;
  margin-left: 20px;
  font-size: 12px;
}

.link {
  display: block;
  text-align: center;
}

.logo {
  height: 100px;
}

.partners {
  background: #fff;
  color: var(--color_bosc_green);
}

.ourPartners {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.ancv {
  height: 70px;
}

.villagedegites img {
  height: 100px;
}

.social {
  color: #fff;
}

.networks {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.network {
  color: #fff;
  font-size: 70px;
}

.network + .network {
  margin-left: 20px;
}

.newsletter {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (--mq-gt-s) {
  .footer {
    flex-direction: row;
  }

  .infos,
  .partners,
  .social {
    flex: 1;
    margin: 0;
  }
}
