@import "variables.css";

.content {
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

.button {
  background: var(--color_bosc_yellow);
  color: #fff;
  padding: 20px;
  display: inline-block;
}

.button:focus,
.button:hover {
  outline: none;
  background: var(--color_bosc_yellow--darken);
  border-color: var(--color_bosc_yellow--darken);
}
