@import "variables.css";
@import "mq.css";

.cover {
  width: 100%;
  height: 100px;
}

.groups {
  background: var(--color_bosc_yellow);
}

.group {
  background: var(--color_bosc_yellow);
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.icon {
  font-size: 50px;
}

@media (--mq-m) {
  .cover {
    height: 100px;
  }
}

@media (--mq-l) {
  .cover {
    height: 200px;
  }
}

@media (--mq-xl) {
  .cover {
    height: 300px;
  }
}
