@import "styles/variables.css";
@import "styles/mq.css";

.text {
  padding: 10px;
  background: #fff;
  text-align: center;
}

.button {
  position: relative;
}

.link {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(50%, 50%);
  background: var(--color_bosc_yellow);
  color: #fff;
  border: 3px solid #fff;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-title);
  font-size: 10px;
  text-align: center;
}

.link {
  border-radius: 50%;
  position: absolute;
}

.linkText {
  display: none;
}

@media (--mq-gt-s) {
  .text {
    padding: 20px;
  }

  .textWithUrl {
    composes: text;
    padding-right: 100px;
    max-width: 400px;
  }

  .link {
    font-size: 16px;
    padding: 20px;
    height: 120px;
    width: 120px;
  }

  .link::before {
    content: '';
    border-top: 14px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 14px solid var(--color_bosc_yellow);
    border-left: 9px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-48deg);
  }

  .link:hover {
    background: var(--color_bosc_yellow--darken);
  }

  .link:hover::before {
    border-bottom-color: var(--color_bosc_yellow--darken);
  }

  .linkText {
    display: inline-block;
  }

  .linkIcon {
    display: none;
  }
}
