@import "styles/variables.css";
@import "styles/mq.css";

.map {
  height: 500px;
}

.legendsWrapper {
  background: var(--color_gray-lighten2);
}

.legends {
  display: flex;
  padding: 10px;
}

.legend {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (--mq-gt-s) {
  .legends {
    padding: 20px;
  }
}

@media (--mq-m) {
  .map {
    height: 600px;
  }
}

@media (--mq-l) {
  .map {
    height: 800px;
  }
}

@media (--mq-xl) {
  .map {
    height: 1000px;
  }
}
